<header>
  <div class="logo">
    <a href="#">Remem<span class="logo-beer">BEER</span>(仮)</a>
  </div>
  <div class="right-nav">

    <ul class="menu">
      <li><a href="#">ログイン</a></li>
      <li><a href="#">新規登録</a></li>
      <li class="test"><a href="#" class="ddmenu"><i class="fa-solid fa-bars"></i></a>
        <ul>
          <li><a href="#">投稿一覧</a></li>
          <li><a href="#">blank</a></li>
          <li><a href="#">blank</a></li>
        </ul>
      </li>
    </ul>

  </div>
</header>