// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***************************************************************
 *
 * 変数
 *
 ***************************************************************/
// Color
$beer-foam-color:    #FFFFFF; // ビールの泡の色
$beer-body-color:    #FFBF00; // ビール本体の色
$beer-font-color:    #FFAD00; // ビール色の文字色
$header-hover-color: #F0F0F0; // ヘッダー: マウスオーバー時の背景色

// Size
$header-height:   80px; // Header height


/***************************************************************
 *
 * Mixin
 *
 ***************************************************************/
@mixin test($color) {
  background-color: $color;
}
.test-class {
  @include test($beer-body-color);
}


/***************************************************************
 *
 * 共通部分
 *
 ***************************************************************/
body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}


/***************************************************************
 *
 * ヘッダー
 *
 ***************************************************************/
header {
  height: $header-height;
  width: 100%;

  // 背景色
  background-color: $beer-foam-color;

  // 表示位置
  display:         flex;
  justify-content: space-between;
  align-items:     center;

  position: fixed;
  z-index: 10;

  .logo {
    margin-left: 20px;
    a {
      color:     gray;
      font-size: 24px;
      font-weight: bold;
      transition: 0.5s;
      .logo-beer {
        color: $beer-font-color;
      }
      &:hover {
        color: $beer-font-color;
      }
    }
  }

  .right-nav {
    color: $beer-font-color;
  }
}

ul.menu {
  display: flex;
  align-items: center;
  font-weight: bold;
  li {
    list-style-type: none;  /* ★2:リストの先頭記号を消す */
    &.user_name {
      margin-right: 10px;
      font-size: 20px;
      span {
        font-size: 12px;
      }
    }
  }
  a {
    color: $beer-font-color;              /* メニュー項目の文字色(白色) */
    display: flex;
    align-items: center;
    justify-content: center;
    height: $header-height;
    width: 120px;
    transition: 0.3s;
    &.ddmenu {
      width: 80px;
    }
    &:hover {
      background-color: $header-hover-color;
    }
  }

  ul {
    display: none;
    position: absolute;

    li a {
      background-color: $beer-foam-color;
      width: 200px;
      position: relative;
      right: 120px;
      &:hover {
        background-color: #F0F0F0;
        color: $beer-font-color;
      }
    }
  }
}
ul.menu li.test:hover ul {
  display: block;
}


/***************************************************************
 *
 * メイン
 *
 ***************************************************************/
.main {
  padding-top: 80px;
  min-height: 600px;
  width: 100%;
  background-color: $beer-body-color;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  color: gray;
  font-size: 28px;
  font-weight: bold;
  padding: 30px 0px 20px 0px;
}

/***************************************************************
 * トップページ
 ***************************************************************/
.top_message {
  color: gray;
  font-weight: bold;
  font-size: 36px;

  animation: fadeIn 3s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
}
.bubbles {
  display: flex;
  justify-content: space-around;
  align-items:flex-start;
  height:  100px;
  width:  100%;

  animation: fadeIn 3s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
}
@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
.bubble3 {
  height: 50px;
  width:  50px;
  border-radius: 50px;
  background-color: #FFFFFF;
  transition: 0.5s;
  &:hover {
    opacity: 0.5;
  }
}
.bubble2 {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #FFFFFF;
  transition: 0.5s;
  &:hover {
    opacity: 0.5;
  }
}
.bubble1 {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #FFFFFF;
  transition: 0.5s;
  &:hover {
    opacity: 0.5;
  }
}
.bubble0 {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: $beer-body-color;
}

/***************************************************************
 * テイスティングノート[一覧]
 ***************************************************************/
.thumbnails {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 30px 0px;
}
.thumbnails_block {
  width: 700px;
  height: 200px;
  margin: 20px 0px 0px 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.thumbnail {
  background-color: white;
  height: 200px;
  width: 180px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  padding: 5px 8px 5px 8px;
  margin:  0px 10px 0px 10px;

  border-radius: 3px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.7);
  transition: 0.2s;
  &:hover {
    background-color: #F0F0F0;
  }
}
.thumbnail_img {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 150px;
    width:  150px;
    border: solid #000000 0.5px;
  }
}
.thumbnail_text {
  width: 100%;
  border-top: solid gray 0.5px;

  .thumbnail_text_top {
    .thumbnail_name {
      color: black;
      font-weight: bold;
      font-size: 16px;
      // 文字の省略
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .thumbnail_text_bottom {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .thumbnail_style {
      color: gray;
      font-size: 10px;
    }
    .thumbnail_date {
      color: gray;
      font-size: 10px;
    }
  }
}



/***************************************************************
 * テイスティングノート[詳細]
 ***************************************************************/
.detail {
  width: 800px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.7);

  padding: 10px 10px 10px 10px;
  margin:  20px  0px 20px  0px;

  // ビール名
  .detail_title {
    color: black;
    font-weight: bold;
    font-size: 24px;
    //padding: 10px 0px 0px 10px;
    border-bottom: solid gray 0.5px;
  }
  // 画像
  .detail_images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
    border-bottom: solid gray 0.5px;

    .detail_image {
      border: solid gray 0.5px;
      img {
        height: 250px;
        width: 250px;
      }
    }
  }
  // レーダーチャート
  .detail_charts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
    border-bottom: solid gray 0.5px;

    .detail_chart {
      border: solid gray 0.5px;
      height: 250px;
      width: 250px;
    }
  }
}
.detail_table {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;

  padding:  0px 0px 10px 0px;
  margin:  10px 0px  0px 0px;
  border-bottom: solid gray 0.5px;

  table {
    border-radius: 5px;
  }
  tr {
    margin: 0px 0px 2px 0px;
    display: block;
  }
  th.table_item {
    height: 35px;
    width: 280px;
    background-color: #E0E0E0;
    text-align: center;
    font-weight: bold;
    border-right: solid white 2px;
  }
  td.table_data {
    height: 35px;
    width: 500px;
    background-color: #F5F5F5;
    //padding: 0px 5px 5px 0px;
    text-align: center;
  }
}
.detail_comment {
  font-size: 12px;
  padding: 10px;
  white-space: pre;
}
.detail_buttons {
  border-top: solid gray 0.5px;
  padding: 10px 0px 0px 0px;
  display: flex;
  justify-content: flex-end;
  .detail_button {
    margin-right: 5px;
    a {
      height: 30px;
      width: 100px;
      background-color: $beer-body-color;
      color: gray;//$beer-foam-color;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      box-shadow: 0px 2px #FF8800;
      &:active {
        position: relative;
        top: 3px;
        box-shadow: none;
      }
    }
  }
}


/***************************************************************
 * テイスティングノート[投稿]
 ***************************************************************/
 .create {
  width: 800px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.7);

  padding: 10px 10px 10px 10px;
  margin:  20px  0px 20px  0px;


  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-block {
  width: 780px;

  border-bottom: solid gray 0.5px;
  padding: 10px 0px 10px 0px;

  .edit-title {
    font-size: 18px;
    font-weight: bold;
  }
  /*** 画像フォーム ***/
  .edit-img-forms {
    display:         flex;
    justify-content: space-around;
    align-items:     center;

    .edit-img-form {
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 0px 5px 0px;

      .edit-img-view {
        border: solid gray 0.5px;
        margin: 0px 0px 10px 0px;
        .preview-image {
          height: 200px;
          width: 200px;
        }
      }

      .edit-img-form-label {
        width: 150px;
        height: 35px;
        
        border-radius:    35px;
        background-color: $beer-body-color;
        box-shadow:       0px 2px #FF8800;
      
        display:         flex;
        justify-content: center;
        align-items:     center;
      
        font-size:   14px;
        font-weight: bold;
        color:       gray;
      
        &:active {
          position: relative;
          top: 3px;
          box-shadow: none;
        }
      
        input {
          display: none;
        }
      }

    }
  }
}

.edit-summary {
  display: flex;
  //justify-content: center;
  flex-direction: column;
  align-items: center;

  .edit-summary-title {
    font-size: 14px;
    font-weight: bold;
  }
  .edit-summary-text-field {
    margin: 2px 10px 20px 10px;
    padding: 5px;
    height: 30px;
    width: 500px;
    border-radius: 5px;
    border: solid black 0.8px;
  }
}



.edit-memo {
  display: flex;
  justify-content: center;
  align-items: center;
  .edit-memo-form {
    margin: 10px 0px 0px 0px;
    padding: 5px;
    border-radius: 5px;
    border: solid black 0.8px;
    height: 200px;
    width: 700px;
  }
}





/***************************************************************
 *
 * フッター
 *
 ***************************************************************/
footer {
  height: 30px;
  width: 100%;
  background-color: $beer-foam-color;

  display: flex;
  justify-content: center;
  align-items: center;

  .copyright {
    font-weight: bold;
    color: gray;
    font-size: 12px;
  }
}